<!doctype html>
<html lang="en" ng-app="LunchApp">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body ng-controller="LunchController">
   <div class="container">
     <h1 class="text-uppercase" style="font-weight: 600;">Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text" ng-model="items"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control" style="width: 450px; height: 50px;">
             
         </div>
         <div class="form-group">
             <button class="btn btn-primary" ng-click="checkIfTooMuch()">Check If Too Much</button>
         </div>
         <div class="form-group message">
           <!-- Your message can go here. -->
           <p>{{message}}</p>
         </div>
   </div>
   <script src="angular.min.js"></script>
   <script src="app.js"></script>
</body>
</html>